# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
node_modules
dist
coverage

# Environment (contains sensitive data)
.env
.env.*

# Files not required for production
README.md
LICENSE
*.md
.vscode
.idea
*.log
*.txt
*.csv
data/*

# Docker configuration
Dockerfile
docker-compose.yml 